<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Config Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../static/css/config.css">
    </head>
    <body>
        <ul>
            <li><a href="default.asp">Text</a></li>
            <li style="float:right" class="nohover"><a>{{username}}</a></li>
            <li style="float:right"><a href="/logout">Log Out</a></li>

        </ul>
        <br>
        <br>
        <div class="container">

            <div class="item">
                <p><a href="/config/dbsetup">Upload New Schedule's And Users</a></p>
            </div>



        </div>
    </body>
</html>