* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #EFEFEF; /* Light gray background */
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #183C6A; /* Dark blue background color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add box shadow for depth */
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

li a:hover {
  background-color: #0A2350; /* Darker shade of blue on hover */
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 1000px;
  background-color: #F6F6F6; /* Light gray background for form */
}

input[type=text] {
  transition: width 0.4s ease-in-out;
  width: 50%;
  height: 150px;
}

input[type=text]:focus {
  width: 100%;
}

.button {
  background-color: #183C6A; /* Dark blue background color for buttons */
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 15px;
  cursor: pointer;
  transition: 0.5s;
  display: inline-block;
}

.button:hover {
  background-color: #0A2350; /* Darker shade of blue on hover */
}

.dot_green {
  height: 15px;
  width: 15px;
  background-color: #00A800; /* Green color for dot */
  border-radius: 50%;
  display: inline-block;
}

.dot_yellow {
  height: 15px;
  width: 15px;
  background-color: #D0FF00; /* Yellow color for dot */
  border-radius: 50%;
  display: inline-block;
}

.dot_orange {
  height: 15px;
  width: 15px;
  background-color: #FFA500; /* Orange color for dot */
  border-radius: 50%;
  display: inline-block;
}

.dot_red {
  height: 15px;
  width: 15px;
  background-color: #FF0000; /* Red color for dot */
  border-radius: 50%;
  display: inline-block;
}
