* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(63, 63, 63);
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0D6EFD; /* Primary blue background color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add box shadow for depth */
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

li a:hover {
  background-color: #084FB1; /* Darker shade of blue on hover */
}

.form {
  margin: auto;
  background-color: #848484;
  width: 700px;
  text-align: center;
}

input[type=text] {
  transition: width 0.4s ease-in-out;
  width: 50%;
  height: 150px;
}

input[type=text]:focus {
  width: 100%;
}

.dot_green {
  height: 15px;
  width: 15px;
  background-color: #00a800;
  border-radius: 50%;
  display: inline-block;
}

.dot_yellow {
  height: 15px;
  width: 15px;
  background-color: rgb(208, 255, 0);
  border-radius: 50%;
  display: inline-block;
}

.dot
