body{
    background-color: #98b2dc;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
.formcontainer{
    
    margin: ;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    text-align: center;
    width: 300px;
    
    background-color: #4e90fa;

}

input[type=button], input[type=submit]{
    background-color: white;
    border: 3px solid #ffffff;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 75%;
    transition: 0.5s;
}

input[type=submit]:hover{
    cursor: pointer;
    border: 3px solid #6a6a6a;
}

.text{
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }

  .text:focus {
    border: 3px solid #6a6a6a;
  }

#fp{
    
    color:white;
    
}