<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CGAE Dashboard</title>
    <link rel="stylesheet" href="../../static/css/admin.css" />
  </head>
  <body>
    <ul>
      <li><a href="/apanel">Dashboard</a></li>
      <li><a href="/apanel/generaterequestsareyousure">Generate Requested Students</a></li>
      <li><a href="/apanel/uploadrequestsform">Upload Requests</a></li>
      <li><a href="/reports">Reports</a></li>
      <li style="float: right"><a href="">Help</a></li>
      <li style="float: right"><a href="/logout">Log Out</a></li>
    </ul>
    <br/>
    <div class="container">
      <div class="container-child">
        <h1>Graph of all request generations students Requested</h1>
      </div>
      <div class="container-child">
        <h1>Another Piece of data</h1>
      </div>
      <div class="container-child">
        <h1> more data for future me</h1>
      </div>
    </div>
  </body>
</html>
