body {
    background-color: #F2F2F2; /* Light gray background */
}

* {
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
     text-align: center;
    
     
}


.formcontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 300px;
    background-color: #FFFFFF; /* White background for the form container */
}

input[type=button],
input[type=submit] {
    border: 3px solid #0D6EFD; /* Primary blue border color */
    background-color: #0D6EFD; /* Primary blue background color */
    color: white; /* Text color for buttons */
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 75%;
    transition: 0.5s;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: #0A58CA; /* Darker shade of blue for hover state */
}

.text {
    background-color: #F8F9FA; /* Light gray background for input fields */
    color: #333333; /* Text color for input fields */
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border: 3px solid #CED4DA; /* Light gray border color */
}

.text:focus {
    background-color: #D0E2FF; /* Light blue background color when input field is focused */
}

.text::placeholder {
    color: #999999; /* Light gray color for placeholder text */
}

#fp {
    color: white;
}
