<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <link rel="stylesheet" href="../static/css/admin.css" />
  </head>
  <body>
    <ul>
      <li><a href="/apanel/">Dashboard</a></li>
      <li><a href="/apanel/generaterequestsareyousure">Generate Requested Students</a></li>
      <li><a href="/apanel/uploadrequestsform">Upload Requests</a></li>
      <li><a href="contact.asp">Reports</a></li>
      <li><a href="">Help</a></li>
      <li style="float: right"><a href="/logout">Log Out</a></li>
      <li style="float: right" class="nohover"><a>{{teacher_name}}</a></li>
    </ul>
    <br/>
    <div class="container">
      <div class="container-child">
        <h1>Generate Requested Students pdf</h1>
        <button onclick="window.location.href='/apanel/generaterequestspdf';">Print Requested Students</button>
      </div>
      <div class="container-child">
        <h1>Upload Scanned Request Sheets</h1>
        
        <form
          action="/apanel/uploadrequestspdf"
          method="post"
          enctype="multipart/form-data"
        >
        <label for="images" class="drop-container" id="dropcontainer">
            <span class="drop-title">Drop files here</span>
            or
            <input type="file" id="images" accept="image/*" required>
          </label>
          <input type="submit" value="Upload" />
        </form>
      </div>
    </div>
  </body>
</html>
