<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/erequest.css">
    </head>
    <body>
        <ul>
            <li><a href="default.asp">Home</a></li>
            <li><a href="news.asp">Requests</a></li>
            <li><a href="contact.asp">Reports</a></li>
            <li style="float:right"><a href="/logout">Log Out</a></li>
            <li style="float:right" class="nohover"><a>{{teacher_name}}</a></li>

        </ul>

        <div class="form">
            <form method="POST" action="/processerequests">
                
                {% for key, value in all_periods.items() %}
                <p>Period {{ key }}</p>
                {% for row in value %}
                <label>
                    <input class="container" type="checkbox"
                        name="selected_rows[]" value="{{ row[0] }}">

                    {{ row[2] }} {{ row[1] }} (ID: {{ row[0] }})
                    {% if row[3] %}
                    <span class="dot_green"></span>
                    {% else %}
                    <span class="dot_red"></span>
                    {% endif %}
                </label>
                <br>
                {% endfor %}
                {% endfor %}

                <br>
                <input type="text" name="StudentIds" placeholder>
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>