<html>
  <head>
    <title>CGAE - Please Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
  </head>
  <body>
    <div class="header">
      <h1>CG Academic Enrichment</h1>
    </div>
    <div class="formcontainer">
      <br>
      <form action="/login" method="POST">
        <input type="username" name="username" placeholder="Username" class="text"> <br><br>
        <input type="password" name="password" placeholder="Password" class="text"> <br><br>
        <input type="submit" value="Login" class="button">
        <br><br>
        <a href="forgotpassword" id="fp">Forgot Password?</a>
      </form>
    </div>
  </body>
</html>